@model Tengella.Survey.WebApp.Models.ChoiceViewModel

<div class="row">
    <h3>Svar: @Model.ChoicePosition</h3>
    <input hidden asp-for="@Model.ChoiceId" />
    <input hidden asp-for="@Model.QuestionId" />
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="@Model.ChoicePosition" class="control-label"></label>
            <input asp-for="@Model.ChoicePosition" class="form-control" />
            <span asp-validation-for="@Model.ChoicePosition" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label asp-for="@Model.ChoiceText" class="control-label"></label>
            <input asp-for="@Model.ChoiceText" class="form-control" />
            <span asp-validation-for="@Model.ChoiceText" class="text-danger"></span>
        </div>
        </div>

</div>
