@model Tengella.Survey.WebApp.Models.QuestionViewModel



<div class="row" id="questionDiv">

    <h3>Fråga @Model.QuestionPosition vs ID: @Model.QuestionId</h3>
    <input hidden asp-for="@Model.QuestionId" />
    <input hidden asp-for="@Model.SurveyObjectId" />
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-10">
        <div class="form-group">
            <label asp-for="@Model.QuestionName" class="control-label"></label>
            <input asp-for="@Model.QuestionName" class="form-control" />
            <span asp-validation-for="@Model.QuestionName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="@Model.QuestionType" class="control-label"></label>
            <input asp-for="@Model.QuestionType" class="form-control" />
            <span asp-validation-for="@Model.QuestionType" class="text-danger"></span>
        </div>
        </div>
        <div class="col-md-3">
        <div class="form-group">
            <label asp-for="@Model.QuestionPosition" class="control-label"></label>
            <input asp-for="@Model.QuestionPosition" class="form-control" />
            <span asp-validation-for="@Model.QuestionPosition" class="text-danger"></span>
        </div>
    </div>
        
    
</div>


