@model Tengella.Survey.WebApp.Models.QuestionViewModel
    <div class="form-group">

        <input hidden asp-for="@Model.SurveyObjectId" />
        <tr>
            <td><h3>Fråga @Model.QuestionId</h3></td>
        </tr>
        <td>
            <label asp-for="@Model.QuestionText" class="control-label"></label>
            <input asp-for="@Model.QuestionText" name="@Model.QuestionText" class="form-control" />
            <span asp-validation-for="@Model.QuestionText" class="text-danger"></span>
        </td>

        <td>
            <label asp-for="@Model.QuestionType" class="control-label"></label>
            <input asp-for="@Model.QuestionType" name="@Model.QuestionType" class="form-control" />
            <span asp-validation-for="@Model.QuestionType" class="text-danger"></span>
        </td>

        <td>
            <label asp-for="@Model.QuestionPosition" class="control-label"></label>
            <input asp-for="@Model.QuestionPosition" name="@Model.QuestionPosition" class="form-control" />
            <span asp-validation-for="@Model.QuestionPosition" class="text-danger"></span>
        </td>


    
    
       
        @* <td>
            <label asp-for="@Model.SurveyQuestions[0].QuestionType" class="control-label"></label>
             <input asp-for="@Model.SurveyQuestions[0].QuestionType" name="@Model.SurveyTitle+@question.QuestionType" class="form-control" />
        </td>
        
        <td>
                <label asp-for="@Model.SurveyQuestions[0].QuestionPosition" class="control-label"></label>
                <input asp-for="@Model.SurveyQuestions[0].QuestionPosition" name="@Model.SurveyTitle+@question.QuestionPosition" class="form-control" />
        </td> *@
            @* @foreach (var choice in question.QuestionChoices!)
        {
            <td><button id="@question.QuestionText+@choice.ChoicePosition" value="@choice.ChoicePosition" onclick="addChoice(this, @question.QuestionPosition, @choice.ChoicePosition)">Add Choice</button></td>
            <div class="form-group" id="choicesContainer">
                @Html.Partial("_ChoiceRowPartial")
            </div>
        } *@
            
        

</div>
@* <script type="text/javascript">
        function addChoice (buttonElement, questionIndex, choicePosition) {
            // Use event delegation for dynamically added button
            $(document).on('click', '#addChoiceBtn', function (e) {
                e.preventDefault(); // Prevent default button behavior
                $.ajax({
                    url: '@Url.Action("AddChoice", "SurveyObjects")',
                    type: 'POST',
                    data: $('form').serialize(),
                    success: function (result) {
                        $('#choicesContainer').append(result);
                    },
                    error: function () {
                        alert("Error adding choice");
                    }
                });
            });
        };
</script> *@
