@model Tengella.Survey.WebApp.Models.DoSurveyViewModel
@using Tengella.Survey.Data.Enums;
@{
    ViewData["Title"] = "Do Survey";
}

<h1>Survey - in progress</h1>



<form asp-action="DoSurvey" method="post">
    <input hidden asp-for="SurveyObjectId" />
    <input hidden asp-for="SurveyTitle" />
    
    <input hidden asp-for="SurveyDescription" />
    
<div>
        @{
            int i = 0;
            int j = 0;
        }
    <h4>SurveyObject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyDescription)
        </dd>

    </dl>
    @foreach (var question in Model.SurveyQuestions!.OrderBy(s => s.QuestionPosition))
        {
            
        <input hidden name="SurveyQuestions[@i].QuestionId" value="@question.QuestionId" />
           
        <dt class="col-sm-2">
            <label>Fråga @question.QuestionPosition. @question.QuestionName</label>
        </dt>
        <dd class="col-sm-10">

        </dd>
            <input type="hidden" name="SurveyAnswers[@i].AnswerId" value="@Model.SurveyAnswers[@i].AnswerId" />
            <input type="hidden" name="SurveyAnswers[@i].QuestionId" value="@question.QuestionId" />
        @foreach (var choice in question.QuestionChoices!.OrderBy(q => q.ChoicePosition))
        {
                @if(question.QuestionType == QuestionType.single_choice.ToString())
                {
                    <div class="form-check">
                        @if (@Model.SurveyAnswers[i].AnswerValue.Equals(choice.ChoiceText) && @Model.SurveyAnswers[i].QuestionId == choice.QuestionId)
                        {
                            <input class="form-check-input" id="@(question.QuestionId+choice.ChoiceText)" type="radio" name="SurveyAnswers[@i].AnswerValue" value="@choice.ChoiceText" checked/>
                            <label for="@(question.QuestionId+choice.ChoiceText)" class="form-check-label">
                                @choice.ChoiceText
                            </label>
                        }else
                        {
                            <input class="form-check-input" id="@(question.QuestionId+choice.ChoiceText)" type="radio" name="SurveyAnswers[@i].AnswerValue" value="@choice.ChoiceText"/>
                            <label for="@(question.QuestionId+choice.ChoiceText)" class="form-check-label">
                                @choice.ChoiceText
                            </label>
                        }
                        
                        
                        

                    </div>
                }
                @if (question.QuestionType == QuestionType.free_text_choice.ToString())
                {
                    
                    <input type="hidden" name="SurveyAnswers[@i].QuestionId" value="@Model.SurveyAnswers[i].QuestionId" />
                    <input type="hidden" name="SurveyAnswers[@i].SubmissionId" value="@Model.SurveyAnswers[i].SubmissionId" />
                    if (Model.SurveyAnswers[i].AnswerId != 0)
                    {
                        <input type="hidden" name="SurveyAnswers[@i].AnswerId" value="@Model.SurveyAnswers[i].AnswerId" />
                        <input type="text" name="SurveyAnswers[@i].AnswerValue" value="@Model.SurveyAnswers[i].AnswerValue" />
                    }else
                    {
                        <input type="text" name="SurveyAnswers[@i].AnswerValue" value=""/>
                    }
                    
                }

                
                j++;
         }

            i++;
     }
    
        
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
        
    
</div>
</form>


